@import url(https://fonts.googleapis.com/css?family=Roboto);

html{
    font-family: 'Roboto';
}

body{
    background-color: rgb(31, 31, 31);
}

p{
    color: white
}
    
#picture{
    width: 100px;
}

#tdtemp{
    padding-left: 15px;
}

#temp{
    font-size: 32px;
}
#picture{
    font-size: 64px;
}

#linfo{
    font-size: 14px;
    color: #9e9e9e !important;
}